.top-nav {text-align:center; }

.top-nav ul {display : inline; } 

/* ul 리스트의 좌우길이 최소화하기 */
.top-nav ul li {display:inline-block;
				list-style:none;} 

.top-nav ul li a {text-decoration : none;
color:blue;
display : block;
padding : 20px;
background-color:#dfdfdf;
border-radius : 5px;
}

.top-nav ul li:hover a{background-color: #343434;
color: white;
}

.top-nav ul li:active a{position:relative;
top:2px;
}

.top-nav ul li.active a {background-color: #aaa;
}
